<!DOCTYPE html>
<html lang="en">
<head>
    <!-- start header -->
        <%- include('./include/header',{title:'Student Information with use sqlite3 Database'}) %>
        <!-- end header-->
</head>
<body>
    <!-- start body -->
    <%- include('./include/navbar') %>
    <!-- end body -->
    <div class="container-fluid">
       <h3 class="text-center text-danger mt-5">Welcome to Student Information with sqlite3 dataBase</h3>
       <p class="text-center text-primary">Using Node js or Express js with ejs template Engine</p>
       <h4 class="text-center text-danger">Using JS Library</h4>
       <ul class="text-center text-primary">
        <li>Nodemon for liveServer</li>
        <li>Body-Parser</li>
        <li>Multer</li>
        <li>express-flash</li>
        <li>express-session</li>
       </ul>
    </div>
    <script src="./js/index.js"></script>
</body>
</html>